# Temporary and output files and folders
.vs/
bin/
obj/

TestResults/
Archived/
packages/

# Latex ouput files.
Resume-XSLT.tex
*.suo
*.pdb
*.aux
*.bbl
*.dvi
*.log
*.bak
*.out
*.blg

*.dvi
*.pdf

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
LaTeX/Lance A Endres - CV.prj
LaTeX/Lance A Endres - CV.tex
